/* Error: expected selector.
 *   ,
 * 6 | var ($mainColor)
 *   |     ^
 *   '
 *   sass\_var.sass 6:5  @use
 *   sass\main.sass 2:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a   \2577 \a 6 \2502  var ($mainColor)\d\a   \2502      ^\a   \2575 \a   sass\\_var.sass 6:5  @use\a   sass\\main.sass 2:1  root stylesheet";
}
