* {box-sizing: border-box}
@font-face {
    font-family: oswald;
    src: url(fonts/Oswald-SemiBold.ttf);
}
@font-face {
    font-family: karma;
    src: url(fonts/Karma-Regular.ttf);
}
body,h1, h2, p, pre{
    margin: 0;
}
body {
    background-color: #ffcc00;
    font-family: karma, sans-serif;
}
h1, h2{
    font-family: oswald,sans-serif;
    font-size: 3em;
}
h2 {
    font-size: 1.2em;
}
pre {
    font-size: 1.4em;
}
.flex {
    display: flex;
}
.wd-50 {
    width: 50%;
}
p, ol, th , td  {
    font-size: 1.7em;
}
section + section {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  
}
section + section > a{
    width: 50%;
}
section > div#slide{
    height: 100vh;
}

div > .main {
    padding: 15px 100px 10px 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
th, td{
  padding: 0 30px;  
  text-align: center;
}
table, th, tr {
    border-collapse: collapse;
    border: 1px solid #000;
}
td {
    border:none
}
td + td {
    border-left: 1px solid #000;
}
.flexAround{
    display: flex;
    justify-content: space-around;
}

svg {
    height: 45vh;
}
figure img{
    width: 100%;
    border-radius: 1em;
}
.vh-6{
    font-weight: bold;
    font-size: 6vh;
}
.dnone {
    display: none;
}

.multiply{
    mix-blend-mode: multiply;
}
